data
test/data
test/data-without-markers
test/maps-new
test/maps-new-without-markers
test/flash/maps-with-markers.exp
test/flash/maps-without-markers.exp

# Installed npm modules
node_modules

# Folder view configuration files
.DS_Store
Desktop.ini

# Thumbnail cache files
._*
Thumbs.db

# Files that might appear on external disks
.Spotlight-V100
.Trashes
